html {
    scroll-behavior: smooth;
}
.rwd {
}
.menu {
    position: fixed;
    background: white;
    opacity: 0.5;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#main {
    background-image: url('../gfx/main.jpg');
    background-size: 100%;
    height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}
.my_foto_circle {
    height: 300px;
    width: 300px;
    background-image: url('../gfx/my_foto.png');
    background-size: cover;
    border-radius: 100%;
}
#aboutme {
    background: blue;
    height: 1000px;
}
#foto {
    background: gray;
    height: 1000px;
}
#contact {
    background: blue;
    height: 1000px;
}
#foot {
    background: gray;
    height: 100px;
}