@media (min-width: 375px) {
.menu {
    text-indent: 0%;
    white-space: normal;
    overflow: auto;
}
.menu {
    position: fixed;
    background: white;
    opacity: 0.5;
    /* height: 40px; */
    margin: 10px 0 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
a {
    color: black;
    font-size: 150%;
    text-decoration: none;
    text-align: center;
    margin: 0px 50px 0 50px;
    opacity: 100%;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    background:gray;
}
}