html {
    scroll-behavior: smooth;
}
.rwd {
}
.menu {
    position: fixed;
    background: white;
    opacity: 0.5;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#main {
    background-image: url('../gfx/main.jpg');
    background-size: 100%;
    /* background: no-repeat;  */
    height: 900px;
}
#aboutme {
    background: blue;
    height: 1000px;
}
#foto {
    background: gray;
    height: 1000px;
}
#contact {
    background: blue;
    height: 1000px;
}
#foot {
    background: gray;
    height: 100px;
}